In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\abuzu\OneDrive\Рабочий стол\DA_projects\events.csv')

In [2]:
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-09-24 11:57:06 UTC,view,1996170,2144415922528452715,electronics.telephone,NaN,31.90,1515915625519388267,LJuJVLEjPT
1,2020-09-24 11:57:26 UTC,view,139905,2144415926932472027,computers.components.cooler,zalman,17.16,1515915625519380411,tdicluNnRY
2,2020-09-24 11:57:27 UTC,view,215454,2144415927158964449,NaN,NaN,9.81,1515915625513238515,4TMArHtXQy
3,2020-09-24 11:57:33 UTC,view,635807,2144415923107266682,computers.peripherals.printer,pantum,113.81,1515915625519014356,aGFYrNgC08
4,2020-09-24 11:57:36 UTC,view,3658723,2144415921169498184,NaN,cameronsino,15.87,1515915625510743344,aa4mmk0kwQ

In [5]:
df.shape

(885129, 9)

In [8]:
df['user_session'].value_counts()

nFlhu5QzOd    572
9HqvxzKlPb    424
F6ohHpTTBU    293
iP9cILMFNS    260
BejOXRngEW    215
             ...
q1TBz1LVkq      1
U3dPvtULrF      1
ydhD0G8EAL      1
z5YIzOJdxL      1
9pCbKMIcSx      1
Name: user_session, Length: 490398, dtype: int64

In [11]:
df[df['user_session']=='nFlhu5QzOd']['event_type'].value_counts()

view    572
Name: event_type, dtype: int64